{% extends "h_base.html" %}

{% block browsertitle %}PMAN: Bear{% endblock %}
  
    {% block content %}    
	<h3>This is my Bear Page.</h3>

    <hr>   

    <div class="row">
        <div class="col-xs-1 well">Col1xs
            
        </div>
        <div class="col-xs-1 well">Col2xs
            
        </div>
        <div class="col-xs-1 well">Col3xs
            
        </div>            
    </div>
    <div class="row">
        <div class="col-sm-2 well">Col1sm
            
        </div>
        <div class="col-sm-1 well">Col2sm
            
        </div>
        <div class="col-sm-1 well">Col3sm
            
        </div>            
    </div> 
    <div class="row">
        <div class="col-md-2 well">Col1md
            
        </div>
        <div class="col-md-1 well">Col2md
            
        </div>
        <div class="col-md-1 well">Col3md
            
        </div>            
    </div>     

    {% endblock %}
